[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-autobuild = "*"
Sphinx = "*"
Django = "*"
argh = "*"
argparse = "*"
certifi = "*"
docutils = "*"
livereload = "*"
pathtools = "*"
tornado = "*"
watchdog = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyYAML = "*"
Pygments = "*"
"backports.ssl_match_hostname" = "*"
sphinx-palewire-theme = "*"

[dev-packages]

[requires]
python_version = "3.9"
